<div class="container container-fluid">
 <div class="uiGrid">
   <button 
     type="button" 
     class="btn btn-primary btn-sm" 
     ng-click="edit()">
     <span class="fa fa-plus-square fa-1x"></span>
     Add WBS
   </button>
 
  <div 
   ui-grid="gridOptions" 
   class="well uiGrid wbsGrid" 
   ui-grid-pagination
   ui-grid-selection 
   ui-grid-auto-resize>
     <div class="watermark" ng-show="!gridOptions.totalItems > 0">No data available</div>
     <br/><br/>
     Displaying page {{gridOptions.paginationCurrentPage}} of {{ getTotalPages(gridOptions) | number:0}} (Items per page : {{gridOptions.paginationPageSize}})
     <br/><br/>

      <div class="btn-group" style="margin: 0px !important;" uib-dropdown is-open="status.isopen">
        <button id="pagination-size-btn" type="button" class="btn btn-primary btn-sm btn-block" uib-dropdown-toggle ng-disabled="disabled">
          Page size<span class="caret"></span>
        </button>
        <ul uib-dropdown-menu role="menu" aria-labelledby="pagination-size-btn" style="cursor: pointer;" class="dropdown-toggle">
          <li role="menuitem" ng-click="changePageSize(10, gridOptions)">10</li>
          <li role="menuitem" ng-click="changePageSize(25, gridOptions)">25</li>
          <li role="menuitem" ng-click="changePageSize(50, gridOptions)">50</li>
          <li role="menuitem" ng-click="changePageSize(100, gridOptions)">100</li>
          <li role="menuitem" ng-click="changePageSize(250, gridOptions)">250</li>
          <li role="menuitem" ng-click="changePageSize(500, gridOptions)">500</li>
        </ul>
      </div>
  
      <span>
       <uib-pagination 
         class="pagination pagination-sm pull-right" 
         boundary-links="true" 
         rotate="false" 
         force-ellipses="true" 
         first-text="<<"
         last-text=">>"
         next-text=">"
         previous-text="<"
         max-size="4" 
         total-items="gridOptions.totalItems" 
         items-per-page="gridOptions.paginationPageSize" 
         ng-model="gridOptions.paginationCurrentPage">
       </uib-pagination>
      </span>
<!--       <br/><br/> -->
  <div 
   ui-grid="gridOptions1" 
   class="well uiGrid wbsGrid"
   style="margin-top:50px;" 
   ui-grid-pagination
   ui-grid-auto-resize>
     <div class="watermark" ng-show="!gridOptions1.totalItems > 0">No data available</div>
     <br/><br/>
     Displaying page {{gridOptions1.paginationCurrentPage}} of {{ getTotalPages(gridOptions1) | number:0}} (Items per page : {{gridOptions1.paginationPageSize}})
     <br/><br/>

      <div class="btn-group" style="margin: 0px !important;" uib-dropdown is-open="status1.isopen">
        <button id="pagination1-size-btn" type="button" class="btn btn-primary btn-sm btn-block" uib-dropdown-toggle ng-disabled="disabled">
          Page size<span class="caret"></span>
        </button>
        <ul uib-dropdown-menu role="menu" aria-labelledby="pagination1-size-btn" style="cursor: pointer;">
          <li role="menuitem" ng-click="changePageSize(10, gridOptions1)">10</li>
          <li role="menuitem" ng-click="changePageSize(25, gridOptions1)">25</li>
          <li role="menuitem" ng-click="changePageSize(50, gridOptions1)">50</li>
          <li role="menuitem" ng-click="changePageSize(100, gridOptions1)">100</li>
          <li role="menuitem" ng-click="changePageSize(250, gridOptions1)">250</li>
          <li role="menuitem" ng-click="changePageSize(500, gridOptions1)">500</li>
        </ul>
      </div>
  
      <span>
       <uib-pagination 
         class="pagination pagination-sm pull-right" 
         boundary-links="true" 
         rotate="false" 
         force-ellipses="true" 
         first-text="<<"
         last-text=">>"
         next-text=">"
         previous-text="<"
         max-size="4" 
         total-items="gridOptions1.totalItems" 
         items-per-page="gridOptions1.paginationPageSize" 
         ng-model="gridOptions1.paginationCurrentPage">
       </uib-pagination>
      </span>
  </div>    
    </div>
  </div>
</div>
