<div class="container container-fluid">
 <div class="well">
   <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
   <button 
     type="button" 
     class="btn btn-primary btn-sm fa fa-plus-square fa-1x" 
     ng-click="edit()">
     Add WBS
   </button>
 
  <div 
   ui-grid="gridOptions" 
   class="well well-sm uiGrid wbsGrid" 
   ui-grid-pagination
   ui-grid-expandable 
   ui-grid-auto-resize>
    <br/>
    Displaying page {{gridOptions.paginationCurrentPage}} of {{ gridOptions.totalItems / gridOptions.paginationPageSize | number:0}}
    <br/>
    <uib-pagination 
      class="pagination-sm" 
      boundary-links="true" 
      rotate="false" 
      force-ellipses="true" 
      max-size="4" 
      total-items="gridOptions.totalItems" 
      items-per-page="gridOptions.paginationPageSize" 
      ng-model="gridOptions.paginationCurrentPage">
    </uib-pagination>
  
  </div>
 </div>
</div>