<div class="modal-content">
 
  <div class="modal-header">
    <h3 class="modal-title">Work Breakdown Structure - {{action}}</h3>
  </div>
  <div class="modal-body">
     <form name="wbsForm" class="form form-horizontal">
 
       <div class="form-group">
   
         <label class="control-label" for="name">Name : </label>
         <input id="name" name="name" type="text" class="form-control" ng-model="wbs.name" required ng-minlength="3" ng-maxlength="20"/>
         <div ng-messages="wbsForm.name.$error">
           <div ng-messages-include="js/status-reporter/error-messages.htm"></div>
         </div>

         <label class="control-label for="description">Description : </label>
         <input id="description" name="description" type="text" class="form-control" ng-model="wbs.description" ng-maxlength="255"/>
   
       </div>
     </form>
 </div>
  <div class="modal-footer">
   <button class="btn pull-left" type="button" ng-click="cancel()">Cancel</button>
   <button class="btn btn-primary pull-left" type="button" novalidate ng-click="wbsForm.$valid && save()">Save</button>
  </div>
</div>
